@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: lighter;
}


/*font-family: "Poppins", sans-serif;     font-family: "Playfair", serif;*/


/***********************************Navbar css**************************************/
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 10px 8px -8px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px solid gray !important;
}

.nav-link {
  font-weight: 450 !important;

}

.navbar-brand {
  font-weight: 700 !important;
  font-family: 'roboto', sans-serif;
  letter-spacing: 1.5px;
  color: black;

}

.active {
  border-bottom: 1px solid black;
}


/*============footer=======================*/
.footer {
  color: white;
  padding: 15px;
  background: linear-gradient(to left, #000000, #1a1a1a, #f5f5f5) !important;

}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  font-weight: bold;
  border-bottom: 1px solid #ffefba;
}






.product-link {
  text-decoration: none !important;
  color: black !important;
}